#loader-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	transition: opacity 0.5s ease;
  }
  
  #loader-container img {
	width: 120px;
	height: 120px;
	animation: spin 5s linear infinite;
  }
  
  @keyframes spin {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
  }
  .cargando{
	font-family: 'Bangers', cursive;
	color: #ffee00;
	text-shadow: 2px 2px #000000;
  }
